{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="../../../static/css/bootstrap.css">
   </head>
   <body>
      
      
   <!--Simple Form-->
   <div class="form-group">
      <div class="container">

         <h1>Login</h1>
         
         <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <button class="btn btn-primary my-4">Login</button>
            
         </div>
      </div>
         
         
         <script src="../../../static/js/bootstrap.js"></script>
</body>
</html>
{% endblock %}