{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<body>

    <div class="container">
        <h1>Delete Post</h1>
        {% if user.is_authenticated %}
        <!--Simple Form-->
        {% if user.id == post.author.id %}

            <img src="" alt="" srcset="">
            <form method="POST">
            {% csrf_token %}
            <h1>are you sure</h1>
            <br>
            <button class="btn btn-danger my-4">Delete</button>
        {% else %}
            <p>you are not the correct user of this post, so u can't delete it</p>
        {% endif %} 

           
    </div>
    {% else %}
        <p>please login or create an account</p>
    {% endif %}
</body>
</html>
{% endblock %}