{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        {% if user.is_authenticated %}
            <h1>Blog details</h1>
            <p><strong>
                {{post.category}}
            </strong></p>
            {% if user.id == post.author.id %}
                <span><a href="{% url 'delete' post.pk %}">delete</a></span> <span><a href="{% url 'edit' post.pk %}">edit</a></span></p> <br>
                <p>{{post.title}} <span>{{post.post_date}}</span> <span>-by {{post.author}}</span> <br>
                    <!-- <img class="image-fluid" style="width:300px; height:300px;" src="{{post.image.url}}" alt=""><br> -->
            {% else %}
                    <p>{{post.body | safe}}</p><br>
            {% endif %}
                <a href="{% url 'Post' %}" class="btn btn-outline-primary">back to </a>
        {% else %}
            <p>please login or sign up</p>
        {% endif %}  
    </div>
</body>
</html>
{% endblock %}